
<head>
    <title>
            welcome to my game
    </title>
</head>
<body>
    <font face='Comic Sans MS' color='#780000' size='24'>Sign Up</font><br><br><br>
    <form name="myform" action=/register method="POST">
        <p>
            <font color='#00637c'>Username</font>
        </p>
        <p>
            <input type='text' name='username'>
        </p>
        <p>
            <font color='#00637c'>password</font>
        </p>
        <p>
            <input type='password' name='password'>
        </p>
        <p>
            <input type='submit' name='send'>
            <input type='reset' name='reset'>
        </p>
    </form>
</body>
